html {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F8F9;
}

/*
HEADER 
 */

 header {
    background-color: white;
 }

 header img {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    vertical-align: middle;
 }

 .header__logo {
    font-size: 38px;
    font-weight: 700;
 }

 .main__container {
    width: 700px;
    margin: auto;
    background-color: white;
    margin-top: 30px;
    padding-left: 40px;
 }

 .main__button {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #F7F8F9;
 }

 .main__button-add {
    padding: 5px;
 }

 ul, li, menu {
    list-style: none;
 }